.card_container {
    animation: transitionIn 5s;
    height: 450px;
    width: 300px;
    background-color: rgb(228, 220, 207);
    box-shadow: inset;
    border-radius: 15px;

}


.nutrions_container {
    margin-top: 10%
}

.line_decorated {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 235, 227);
    padding-right: 5%;
    padding-left: 5%;
    font-size: 20px;
    border-radius: 10px;
}

.line {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 20px;
    border-radius: 10px;
}


.card_logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transform: translateY(-3rem);
    background-color: rgb(151, 146, 146);
    width: 100px;
    height: 100px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
}

.alternative_img {
    border-radius: 50%;
    width: 100px;
}

.basic {
    background-color: none;
}

.better_result {

    background-color: rgba(60, 255, 0, 0.603);
}

.worse_result {

    background-color: rgba(255, 0, 0, 0.603);
    ;
}

.alternative_button {
    height: 50px;
    margin-top: auto;
    width: 200px;
    margin-top: 2rem;
    font-size: 25px;
    background-color: white;
    border: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 15px;
}

.alternative_button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.logo {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.logo_container {
    display: grid;
}

.line1 {
    animation: transitionLine 1s
}

.line2 {
    animation: transitionLine 1.2s
}

.line3 {
    animation: transitionLine 1.4s
}

.line4 {
    animation: transitionLine 1.6s
}

.line5 {
    animation: transitionLine 1.8s
}

.line6 {
    animation: transitionLine 2s
}

.line7 {
    animation: transitionLine 2.2s
}

.line8 {
    animation: transitionLine 2.4s
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionLine {
    from {
        display: none;
        width: 170px;
        opacity: 0;
    }

    to {
        display: flex;
        width: 270px;
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {

    .logo_container {
        display: grid;
        position: absolute;
        margin-top: 100%;
        right: 10%;
        left: 10%;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .logo {
        width: 150px;
    }

    .card_container {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .card_container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    .logo_container {
        display: grid;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 100px;
        position: initial;
        margin-top:0;
    }

    .logo {
        width: 100px;
    }
}

